#jqtest {
  background-color: black;
  color: white;
}

body {
  padding:50px;
}

#ticket {
  background-image: url("../img/blank-ticket.jpeg");
  height: 280px;
  width: 600px;
  padding:40px;
}

#inner-ticket {
  background: red;
  height: 100%;
  width: 100%;
}

#ticket-title {

  /*position:relative;
  top: 50px;*/
  /*transform-origin: 50% 10%;
  transform: rotate(90deg);*/
}
